.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.movie_list{
  display: flex;
  flex-direction: column;

  margin: 10px;

}
.movie_card{
  display: flex;
  justify-content: space-around;
  width: auto;
  padding: 10px;
  border-bottom: 1px solid green;
}
